<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>注册</title>
</head>
<body>
	<form action="registe/" method="POST">
		name:<input type="text" name="name"/><br>
		sex:<input type="radio" name="gender" value="1"/>man  <input type="radio" name="gender" value="0"/>woman<br>
		age:<input type="text" name="age"/><br>
		hobby:<input type="checkbox" name="love" value="1"/>football
			  <input type="checkbox" name="love" value="2"/>table-tennis
			  <input type="checkbox" name="love" value="3"/>basketball<br>
		<input type="submit" value="Register"/>
	</form>
</body>
</html>