<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p" 
    xsi:schemaLocation="
    	http://www.springframework.org/schema/beans 
    	http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- School注入 -->
	<bean id="mySchool" class="com.hxb.di06.School" p:name="清华大学" />
	<bean id="mySchool2" class="com.hxb.di06.School" p:name="北京大学" />

	<!-- Student注入 -->
	<bean id="mySome" class="com.hxb.di06.Some">
		<!-- 只有一个元素的时候，也可以使用简写方式 -->
		<property name="schools" ref="mySchool" />
		
		<property name="myStrs" value="中国,美国" />
		
		<property name="myList" value="上海,四川,杭州" />
		
		<property name="mySet" value="本子,纸张,铅笔" />
		
		<property name="myMap">
			<map>
				<entry key="S001" value="小明" />
				<entry key="S002" value="小王" />
				<entry key="S003" value="小李" />
			</map>
		</property>
		
		<!-- property的key与value必须都是字符串 -->
		<property name="myPros">
			<props>
				<prop key="education">教育</prop>
				<prop key="encomy">经济</prop>
				<prop key="lefe">生活</prop>
			</props>
		</property>
	</bean>
</beans>




















































