<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
    	http://www.springframework.org/schema/beans 
    	http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="someService" class="com.hxb.aop04.SomeServiceImpl" />
	<bean id="someService2" class="com.hxb.aop04.SomeServiceImpl" />

	<bean id="myAfterAdvice" class="com.hxb.aop04.MyAfterReturningAdvice"/>
	
	<bean id="myAdvisor" class="org.springframework.aop.support.NameMatchMethodPointcutAdvisor">
		<property name="advice" ref="myAfterAdvice" />
		<property name="mappedName" value="doFirst" />
	</bean>
	
	<!-- 默认的advisor自动代理生成器 -->
	<bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" />
	
</beans>




















































