<!-- 引入Static标签 -->
{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>首页</title>
<!-- 引入CSS样式 -->
<link rel="stylesheet" type="text/css" href="/static/myApp/css/index.css" />
<!-- 引入JS脚本 -->
<script type="text/javascript" src="/static/myApp/js/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="/static/myApp/js/myJavascirpt.js"></script>
</head>
<body>
	<h1>Jackson is a good man!</h1>
	<!-- 引入图片 -->
	<img src="/static/myApp/img/myPic.png" />
	<!-- 使用static标签动态加载图片 -->
	<img src="{% static 'myApp/img/myPic.png' %}"/>
</body>
</html>













































































