<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
    	http://www.springframework.org/schema/beans 
    	http://www.springframework.org/schema/beans/spring-beans.xsd
    	http://www.springframework.org/schema/context
    	http://www.springframework.org/schema/context/spring-context.xsd">
	
	<!-- 注册数据源 -->
	<bean id="myDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driver}" />
		<property name="jdbcUrl" value="${jdbc.url}" />
		<property name="user" value="${jdbc.username}"/>
		<property name="password" value="${jdbc.password}"/>
	</bean>
	
	<!-- 注册属性文件 -->
	<context:property-placeholder location="classpath:jdbc.properties"/>
	
	<!-- 注册SqlSessionFactory -->
	<bean id="mySqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 加载Mybatis的配置文件 -->
		<property name="configLocation" value="classpath:mybatis.xml"/>
		<!-- 加载数据源 -->
		<property name="dataSource" ref="myDataSource"/>
	</bean>
	
	<!-- 生成Dao的代理对象：支持扫描的Mapper动态代理 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="sqlSessionFactoryBeanName" value="mySqlSessionFactory"/>
		<!-- 扫描当前配置中指定的基本包的所有接口生成代理对象 --> 
		<!-- 要求Mapper接口与Mapper映射文件名称相同且在同一个包下 -->
		<property name="basePackage" value="com.hxb.dao"/>
	</bean>
	
	
	<!-- 注册Service -->
	<bean id="studentService" class="com.hxb.service.StudentServiceImpl">
		<!-- 这里的Dao的注入需要使用ref属性，若Dao的接口名的前两个字母是大写，则这里的值为接口的简单类名，若Dao的接口名的首字母是大写，第二个字母小写，则这里的值为简单类名，但首字母需要小写 -->
		<property name="dao" ref="IStudentDao"/>
	</bean>
</beans>




















































